<%= render 'shared/errors', obj: @chef %>

<div class="row">
  <div class="well col-md-4 col-md-offset-4">
    <%= form_for @chef do |chef| %>
      <%= chef.label :name, "Username" %>
      <%= chef.text_field :chefname %>
      
      <%= chef.label :email, "Email" %>
      <%= chef.email_field :email %>
      
      <%= chef.label :password, "Password" %>
      <%= chef.password_field :password %>

      <%= chef.label :password_confirmation, "Confirm Password" %>
      <%= chef.password_field :password_confirmation %>
      
      <%= chef.submit(@chef.new_record? ? 'Register' : 'Edit profile', class: "btn") %>
    <% end %>
  </div>
</div>